.formContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    background: #ccc;
}

.wrapper {
    border: 1px solid orange;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
}

.loginForm {
    padding: 50px 86px 86px;
}

.wrapper:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.wrapper:hover .formHeading {
    transform: translateY(10px);
    margin: 20px;
}

.formHeading {
    color: #fff;
    background:  orange;
    margin: 0;
    width: 428px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    text-align: center;
}

.formHeading h3 {
    padding: 15px 20px;
    margin:0;
}

