
  .topnav {
      text-align: center;
  }
  
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }

  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }

  .exit {
    margin-top: 11px;
    margin-right: 19px;
    float: right
  }
  